#calculator-container {
    width: 402px;
    height: 402px;
    display: grid;
    border: solid black 2px;
    grid-template-columns: 300px 100px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "result result"
    "number buttons"
    "number ops";    
    grid-gap: 2px
}
#result-container {
    grid-area: result;
    text-align: right;
    font-size: xx-large;
    border: solid black 1px;
}
#number-container {
    grid-area: number;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    border: solid black 1px;
}
#button-container {
    grid-area: buttons;
    display: flex;
    width: auto;
    height: auto;
}
.button {
    width: 50%;
    height: 50%;
    border: solid black 1px;
    background-color: khaki;
}
.button:hover{
    background-color: darkseagreen;
}
#ops-container {
    width: auto;
    grid-area: ops;
    display: block;
    text-align: center;
    border: solid black 1px;
}
.cell {
    display: flex;
    border: solid black 2px;
    width: auto;
    justify-content: center;
    height: 60px;
}
.cell:hover {
    background-color: darkseagreen;
}
.cell-div {
    width: 50px;
    height: 50px;
    font-size: xx-large;
    margin: 5px 0px 0px 0px;
    text-align: center;
}